#back{
    background: url(back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 534px;
}
#road{
    background: url(road.jpg);
    
}
#car{
    width: auto;
    height: 100px;
}
img{
    width: 150px;
}
#bttn{
    background-color: yellowgreen;
    padding: 5px;
    margin-top: 25px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin-right: 5px;
}
#btn{
    display: flex;
    justify-content: center;
    align-content: center;
    
}